$color1: #ffb2e6ff;
$color2: #3f2e56ff;
$color3: #ebe7eeff;
$color4: #759aabff;
$color5: #646165ff;

/* Human Color Names */
$c-brand: $color1;
$c-bg-dark2: $color2;
$c-bg-dark: $color3;
$c-highlight: $color4;
$c-bg-light: $color5;
